{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<style>
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
</style>


<div>
<h1 style="text-align: center;"><span style="font-weight: bold; color:#92243F" class="g-color-text-3"> <em> </span><br></em></h1>
<h1 style="text-align: center;"><span style="font-weight: bold; color:#92243F" class="g-color-text-3"> <em>Мастера </span><br></em></h1>
</div>


 
<div id="ul-id-4-10" class="row ul-row">
<div id="ul-id-4-11" class="col ul-col col-xs-12 col-sm-12 col-md-3"><div  data-widget="imagezoom" data-options="{&quot;label&quot;:false,&quot;event&quot;:false,&quot;click&quot;:&quot;lightbox&quot;,&quot;altPosition&quot;:&quot;invisible&quot;,&quot;blank&quot;:&quot;_blank&quot;,&quot;proportion&quot;:true}" id="ul-id-4-12" class="ul-widget ul-w-imagezoom" data-device-hidden="{&quot;desktop&quot;:false,&quot;phone&quot;:false,&quot;tablet&quot;:false}" data-controls="mer">

<div>
  
  <div>
      
      <div>
          
          
          <div><img img src="{% static 'images/master1111.jpg' %}" style="margin: 0 auto; display: block; width: 100%;max-width: 243.6999969482422px"/></div>
          
          
      
      </div>
      
  </div>
</div>
</div>
</div>
<div id="ul-id-4-13" class="col ul-col col-xs-12 col-sm-12 col-md-3"><div 
                  
                  id="ul-id-4-14" class="ul-widget  " type="wysiwyg" data-device-hidden='{"desktop":false,"phone":false,"tablet":false}'>
                  
                  <style data-styled="true" data-styled-version="5.0.1"></style><div id="ul-id-4-14" class="sc-AxjAm StDqM ul-widget-wysivig ul-wysivig-editor "><h3><span style="font-style: italic;">Ирина Ланц</span><br></h3><p>Сертифицированный специалист по&nbsp;микроблейдингу и&nbsp;перманентному макияжу, мастер по&nbsp;архитектуре бровей с&nbsp;опытом работы в&nbsp;данной сфере более 5&nbsp;лет.</p></div>
                  </div>
              </div>
              <div id="ul-id-4-17" class="col ul-col col-xs-12 col-sm-12 col-md-3"><div  data-widget="imagezoom" data-options="{&quot;label&quot;:false,&quot;event&quot;:false,&quot;click&quot;:&quot;lightbox&quot;,&quot;altPosition&quot;:&quot;invisible&quot;,&quot;blank&quot;:&quot;_blank&quot;,&quot;proportion&quot;:true}" id="ul-id-4-16" class="ul-widget ul-w-imagezoom" data-device-hidden="{&quot;desktop&quot;:false,&quot;phone&quot;:false,&quot;tablet&quot;:false}" data-controls="mer">

<div>
  
  <div>
      
      <div>
          
          
          <div><img src="{% static 'images/master122.jpg' %}" style="margin: 0 auto; display: block; width: 100%;max-width: 235.01666259765625px"/></div>
          
          
      
      </div>
      
  </div>
</div>
</div>
</div>
<div id="ul-id-4-18" class="col ul-col col-xs-12 col-sm-12 col-md-3"><div 
                  
                  id="ul-id-4-19" class="ul-widget  " type="wysiwyg" data-device-hidden='{"desktop":false,"phone":false,"tablet":false}'>
                  
                  <style data-styled="true" data-styled-version="5.0.1"></style><div id="ul-id-4-19" class="sc-AxjAm StDqM ul-widget-wysivig ul-wysivig-editor "><h3><span style="font-style: italic;">Алена Молочко</span><br></h3><p>Сертифицированный специалист по&nbsp;татуажу век и&nbsp;губ с&nbsp;опытом работы в&nbsp;данной сфере более 3&nbsp;лет. Судья конкурса мастеров перманентного макияжа BeautyBrow.</p></div>
                  </div>
              </div>
          </div>

      
{% endblock %}